@use "../../setting" as *;

header {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem 0.5rem;
  text-align: center;
  height: 60px;
  align-items: center;

  @include mq(s) {
    display: none;
  }

  @include mq(m) {
    display: none;
  }

  .logo {
    width: 280px;

    @include mq(s) {
    }

    @include mq(m) {
    }

    @include mq(l) {
      width: 240px;
    }
  }
}

.mainNav {
  .menu {
    display: flex;
    justify-content: space-around;
    gap: 4rem;

    @include mq(s) {
      gap: 1rem;
    }

    @include mq(m) {
      gap: 2rem;
    }

    @include mq(l) {
      gap: 3rem;
    }

    a {
      text-decoration: none;
      color: $fontColor;
      letter-spacing: 4px;

      &:hover {
        color: $fontColorHover;
        transition: 0.2s ease all;
      }
    }

    li {
      &:last-of-type {
        a {
          padding: 0.9rem 1.9rem;
          border-radius: 4px;
          background-color: $accent;
          color: white;

          &:hover {
            color: $fontColorHover;
            transition: 0.2s ease all;
            background-color: white;
            border: 1px solid $accent;
          }
        }
      }
    }
  }
}
