@use "../../setting" as *;

.btn {
    margin: 3rem auto;
    color: white;
    background-color: $btnBg;
    width: 320px;
    text-align: center;
    display: block;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    text-decoration: none;

    &:hover {
        background-color: $btnBgHover;
        transition: 0.3s ease all;
    }
}

// 代表挨拶ボタン
.btn.greeting {
    letter-spacing: 6px;
    margin-top: 6rem;
}
