@use "../../setting" as *;

// =======================================
// Hero
// =======================================
.hero {
  width: 100%;
  height: 70vh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    source {
      width: 100%;
      height: 100%;
    }
  }
}

// =======================================
// philosophy
// =======================================
.philosophy {
  margin-top: 4rem;

  p {
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    padding: 6px 0;
    position: relative; // Set relative positioning for absolute child elements

    span {
      color: #27829b;
      position: relative; // Add relative positioning to each span for absolute positioning of pseudo-elements

      &:nth-of-type(1):before {
        content: "MISSION";
        position: absolute;
        font-size: 0.8rem;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:nth-of-type(2):after {
        content: "VISION";
        position: absolute;
        font-size: 0.8rem;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// =======================================
// business content
// =======================================
.businessContent {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 0;
  border-top: 1px solid $border;

  h2 {
    font-size: 2rem;
    text-shadow: #bcbcbc 0 0 4px;
    letter-spacing: 4px;
    font-weight: 400;
  }

  p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    letter-spacing: 4px;
    font-weight: 200;
    text-shadow: #6e6e6e 0 3px 3px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 30px;
  }

  .listWrapper {
    // display: flex;
    border: 3px solid $border;
    border-radius: 10px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem 2rem;

      li {
        list-style: none;
        color: $accent;
        font-size: 3.2rem;
        line-height: 2.5rem;
        margin-top: 2rem;
        letter-spacing: 4px;
        font-weight: 200;
        width: 26%;

        // &:nth-of-type(1) {
        // }

        span {
          font-size: 1.2rem;
          line-height: 2.5rem;
          margin-top: 2rem;
          letter-spacing: 4px;
          font-weight: 200;

        }
      }
    }
  }
}

// =======================================
// News
// =======================================
.news {
  max-width: 1280px;
  margin: 4rem auto;
  
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 6rem 0;
  }

  &__title {
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 400;
    text-align: center;
    width: 40%;
  }
}

.newsLinks {
  display: flex;
  justify-content: flex-start;
  gap: 1rem 4rem;
  flex-wrap: wrap;
  
  &__item {
    letter-spacing: 4px;
    width: 27%;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
      transition: 0.1s ease all;
      color: $accent;
    }
  }
}


// =======================================
// greeting
// =======================================
.greeting {
  background-color: #F6F6F6;
  border-top: 1px solid $border;
  padding: 4rem 0;

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__textArea {
    width: 30%;
  }

  &__title {
    font-size: 2.4rem;
    letter-spacing: 4px;
    font-weight: 400;
  }

  &__desc {
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    letter-spacing: 4px;
    font-weight: 200;
  }

  &__imgArea {
    width: 43%;

    img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      transform: scaleY(1.05);
    }
  }
  
}

// =======================================
// Office
// =======================================
.office {
  max-width: 1280px;
  margin: 4rem auto;

  &__wrapper {

  }

  &__textArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__title {
    font-size: 1.8rem;
    letter-spacing: 4px;
    font-weight: 400;
    width: 20%;
  }

  &__desc {
    font-size: 1rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    letter-spacing: 4px;
    font-weight: 200;
    width: 70%;
  } 

  &__imgArea {
    margin: 3rem auto;
  }
}





