
$font: Hiragino Kaku Gothic Pro W3;

/*カラーテーマ-------------------------------------------*/
$base:#F2F2F2;
$secondary_base : #ff0012;
$accent : #70C6CD;
$bg: #F2F2F2;

$fontColor: #333;
$fontColorHover: #499A9F;

$textHover: #499A9F;


$btnBg: #70C6CD;
$btnBgHover: #5AB1B8;
$btnActive: #27829B;

$border: #c5c5c5;

/* Mixin---------------------------------------------- */

$breakpoints: (
  's': 'screen and (max-width:480px)',
  'm': 'screen and (max-width: 767px) and (min-width:480px)',
  'l': 'screen and (max-width: 1079px) and (min-width: 768px)',
  'xl': 'screen and (max-width: 1280px) and (min-width: 1080px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
// 例
// @include mq(l) { // 引数を個別に指定
//     color: red;
//   }

@include mq(s) { 

  }
@include mq(m) { 

  }
